.body-default {
  background: linear-gradient(135deg, #ffe7de, #fbd0bf, #f8bab0, #f7a69f);
}

.body-home {
  background: linear-gradient(135deg, #ffe7de, #fbd0bf, #f8bab0, #f7a69f);
}

.body-error {
  background: url("https://image.noelshack.com/fichiers/2024/47/4/1732221503-plan.jpg")
    no-repeat center center / cover;
}

.body-QuestionsForm {
  background: linear-gradient(135deg, #ffe7de, #fbd0bf, #f8bab0, #f7a69f)
    no-repeat center center / cover;
}
