/* Section principale */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0 5%;
  position: relative;
}

/* Section gauche */
.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.home-left h1 {
  padding: 1rem;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-left p {
  font-size: 1.3rem;
  margin-top: 10px;
  line-height: 1.5;
}

.home-animation {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Section droite */
/*.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}*/

.home-quiz-button {
  display: inline-block;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.home-quiz-button:hover {
  transform: scale(1.1);
  background-color: var(--third-color);
  color: white;
}

/* GIF Section */
.home-gif-container {
  display: flex;
  justify-content: center;
  margin-bottom: -170px;
  padding: 2px;
}

.home-gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
  }

  .home-left {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    align-items: center;
  }

  .home-left h1 {
    font-size: 2.5rem;
  }

  .home-left p {
    font-size: 1.1rem;
    margin-top: 15px;
  }

  .home-animation {
    max-width: 300px;
    margin-top: 15px;
  }

  /* .home-right {
    width: 100%;
   
  }*/

  .home-quiz-button {
    font-size: 1.3rem;
    padding: 12px 25px;
  }

  .home-gif-container {
    display: flex;
    justify-content: center;
    /*margin-top: 10px;*/
  }

  .home-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .home-container {
      padding: 10% 5%;
    }
    .responsive-hide {
      display: none;
    }

    .home-left p {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 10px;
    }

    .home-animation {
      width: 80%;
      max-width: 250px;
      margin-top: 20px;
    }

    .home-quiz-button {
      font-size: 1.2rem;
      padding: 10px 20px;
      border-radius: 8px;
    }

    .home-gif-container {
      max-width: 200px;
    }
  }

  @media (max-width: 480px) {
    .home-animation {
      width: 70%;
      max-width: 200px;
      margin-top: 10px;
    }

    .home-quiz-button {
      font-size: 1rem;
      padding: 8px 15px;
    }

    .home-gif-container {
      max-width: 180px;
      margin-left: 29px;
      margin-bottom: 0.5px;
    }
  }
}
