:root {
  scroll-behavior: smooth;
  --first-color: #ffe7de;
  --title-color: #ffd19a;
  --text-color: #00a676;
  --body-color: #a1e8cc;
  --container-color: black;

  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes notilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background: linear-gradient(135deg, #ffe7de, #fbd0bf, #f8bab0, #f7a69f)
    no-repeat center center / cover;
  font-family: var(--body-font);
}

.questions-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  gap: 2rem;

  background: linear-gradient(135deg, #ffe7de, #fbd0bf, #f8bab0, #f7a69f);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-container,
.recap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--first-color);
  padding: 2rem;
  margin-left: 10rem;
  margin-right: 5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  max-width: 500px;

  width: 100%;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--body-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.option-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option-label input {
  display: none;
}

.option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.option-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

input[type="checkbox"]:checked + .option-content {
  animation: tilt-shaking 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
  background: var(--text-color);
  padding: 0.5rem;
}

input[type="checkbox"]:not(:checked) + .option-content .option-image {
  animation: notilt-shaking 0.4s ease-in-out;
}

.validate-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.validate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  background-color: var(--title-color);
  color: #000;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.validate:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.recap-container ul {
  list-style-type: none;
  padding: 0;
}

.recap-container li {
  font-size: var(--normal-font-size);
  /*color: #333;*/
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
}

.pays-titre {
  color: black;
  font-weight: bold;
}

.pays-noms {
  color: var(--text-color);
  text-decoration: none;
}


@media (min-width: 768px) {
  .questions-form-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .form-container,
  .recap-container {
    max-width: 45%;
  }
  .pays-noms {
    text-decoration: none;
  }

}
