:root {
  scroll-behavior: smooth;

  --first-color: #ffe7de;
  --title-color: #ffd19a;
  --text-color: #00a676;
  --body-color: #a1e8cc;
  --container-color: black;

  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}

@keyframes tilt-shaking {
  0% { transform: rotate(15deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(0.5eg); }
  75% { transform: rotate(-25deg); }
  100% { transform: rotate(15deg); }
}

h2 {
  margin: 1.5rem;
  color: #00a676;
  font-size: 130%;
  text-align: center;
}

.questions {
  display: none;
  margin-left: 51%;
  margin-right: 50%;
}

label {
  cursor: pointer;
  display: inline-table;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  padding: 5%;
}

input[type="checkbox"]:checked + label {
  animation: tilt-shaking 0.4s ease-in-out;
  transform: scale(1); 
}

.chaud,
.tempéré,
.froid {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 20%;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  width: 100%;
}

fieldset {
  border: none;
  background-color: #ffe7de;
  width: 450px;
  height: 550px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10%;
}
