* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000000000;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-links li {
  text-align: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: #f89b94; /* Couleur du thème */
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.navbar-links a:hover {
  background-color: #ff7569; /* Couleur au survol */
  transform: scale(1.1);
}

.logo {
  position: absolute;
  top: 65px;
  left: 20px;
  max-width: 100px;
  width: 100%;
  border-radius: 50%;
  z-index: 10000000000;
}
.logo:hover {
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1.2);
}

.burger-menu {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100000000;
}

.menu-icon {
  width: 35px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    top: 17px;
  }
  .navbar {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }

  .burger-menu {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    backdrop-filter: blur(9px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000000000;
  }

  .navbar-links.open {
    transform: translateY(0);
  }

  .navbar-links li {
    margin: 15px 0;
  }
}
