* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  right: 1%;
  top: 25px;
  width: 120px;
  height: 120px;
  border-radius: 20%;
  box-shadow: -5px 15px 32px 0px rgba(238, 174, 202, 0.75);
  -webkit-box-shadow: -5px 15px 32px 0px rgba(238, 174, 202, 0.75);
  -moz-box-shadow: -5px 15px 32px 0px rgba(238, 174, 202, 0.75);
  z-index: 100000000000;
}
.navbar-logo {
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
  transition: transform 0.3s ease;
}

.navbar-links li {
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ffe7de;
  left: 0;
  bottom: -5px;
  transition: width 0.4s ease;
}

.navbar-links a:hover {
  color: #00a676;
}

.navbar-links a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
  }
  .navbar-links.open {
    transform: translateY(0);
  }

  .navbar-links li {
    text-align: center;
    margin: 15px 0;
  }
}

.navbar:hover .navbar-links {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 480px) {
  .navbar-links a {
    font-size: 14px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }
}
