:root {
  scroll-behavior: smooth;
  --body-font: "Montserrat", sans-serif;
  --primary-color: #ffe7de;
  --second-color: #ffd19a;
  --thtid-color: #00a676;
  --fourth-color: #a1e8cc;
}

/* Réinitialisation globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  min-height: 100vh;
  background: linear-gradient(135deg, var(--primary-color), #ffccb3, #ffb199);
}

/* Navbar compacte */
  .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 0 20px 20px 0;
  z-index: 1000;
  transition: width 0.3s ease;
  overflow: hidden;
}

.navbar.expanded {
  width: 300px; 
}


.logo {
  width: 120px;
  height: 120px;
  border-radius: 20%;
}



.navbar-logo {
  
  position: absolute;
  top: 20px;
  right: 40px;

  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.navbar.expanded .navbar-links {
  opacity: 1;
  transform: translateX(0);
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--thtid-color);
}





 /* 

  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}*/

