.questions-form-container {
  display: flex;
}

.map-container {
  flex: 1 1 100%;
  margin-top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 1024px) {
  .questions-form-container {
    flex-wrap: nowrap;
  }

  .map {
    max-width: 100%;
  }

  .checkbox-container {
    flex: 0 0 60%;
  }
}

@media (max-width: 768px) {
  .checkbox-container {
    flex: 1 1 100%;
  }

  .map {
    width: 100%;
  }
}
