.questions-form-container {
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.map {
  width: 115%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .map {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .map {
    width: 100%;
  }

  .map-container {
    flex: 1;
  }
}
